<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.cricket">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.news.abhishek.newsapp.ScoreDisplay"></activity>
        <activity android:name="com.news.abhishek.newsapp.Question5"
            android:label="Question5"/>
        <activity android:name="com.news.abhishek.newsapp.Question4"
            android:label="Question4"/>
        <activity android:name="com.news.abhishek.newsapp.Question3"
            android:label="Question3"/>
        <activity android:name="com.news.abhishek.newsapp.Question2"
            android:label="Question2"/>
        <activity android:name="com.news.abhishek.newsapp.Question1"
            android:label="Question1"/>
        <activity android:name="com.news.abhishek.newsapp.Main6Activity"
            android:label="Quiz Answers"/>
        <activity android:name="com.news.abhishek.newsapp.Main5Activity"
            android:label="Quiz"/>
        <activity android:name="com.news.abhishek.newsapp.Webview" />
        <activity android:name="com.news.abhishek.newsapp.Pageofoptions" />
        <activity android:name="com.news.abhishek.newsapp.Main4Activity"
            android:label="Favorites">
        </activity>
        <activity
            android:name="com.news.abhishek.newsapp.Main3Activity"
            android:label="Scorecards"
            android:theme="@style/ScoreCards" />
        <activity
            android:name="com.news.abhishek.newsapp.PointsTable"
            android:label="Points Table"
            android:theme="@style/PointsTable" />
        <activity android:name=".NewsExplore" />
        <activity
            android:name=".Main2Activity"
            android:label="News" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FixturesActivity"
            android:label="Fixtures WC 2019" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>